@tailwind base;
@tailwind components;
@tailwind utilities;

/*
zinc color codes
50 #fafafa
100 #f4f4f5
200 #e4e4e7
300 #d4d4d8
400 #a1a1aa
500 #71717a
600 #52525b
700 #3f3f46
800 #27272a
900 #18181b
*/

@layer base {
    :root {
        --content-bg: #18181b;
        --content-bg-hover: #27272a;
        --content-main-text: #ffffff;
        --content-list-border: #27272a;
        --content-secondary-text: #d4d4d8;
        --content-tertiary-text: #a1a1a1;
        --content-category-bg: #3f3f46;
        --content-category-text: #ffffff;
        --header-bg: #18181b;
        --header-main-text: #ffffff;
        --header-secondary-text: #a1a1a1;
        --header-button-text: #d4d4d8;
        --header-button-bg: #27272a;
        --header-button-hover: #3f3f46;
        --sidebar-bg: #18181b;
        --sidebar-main-text: #ffffff;
        --sidebar-secondary-text: #d4d4d8;
        --sidebar-tertiary-text: #a1a1a1;
        --sidebar-muted-text: #71717a;
        --sidebar-bg-hover: #27272a;
        --sidebar-button-text: #a1a1a1;
        --sidebar-button-bg: #27272a;
        --sidebar-button-border: #3f3f46;
        --sidebar-button-text-hover: #ffffff;
        --sidebar-button-border-hover: #52525b;
        --scrollbar-track: #18181b;
        --scrollbar-thumb: #a1a1a1;
    }

    /*.theme-dragonfruit {*/
    /*    --content-bg: #f7f5f2;*/
    /*    --content-main-text: #1e1e24;*/
    /*    --content-secondary-text: #2d2d36;*/
    /*    --content-list-border: #dfdfde;*/
    /*    --content-category-bg: #dfdfde;*/
    /*    --content-category-text: #8d8daa;*/
    /*    --header-bg: #8d8daa;*/
    /*    --header-main-text: #f7f5f2;*/
    /*    --header-secondary-text: #dfdfde;*/
    /*    --header-button-text: #F7F5F2;*/
    /*    --header-button-bg: #f56d91;*/
    /*    --sidebar-bg: #8d8daa;*/
    /*    --sidebar-main-text: #f7f5f2;*/
    /*    --sidebar-secondary-text: #dfdfde;*/

    /*}*/
}

body {
    font-family: 'Nunito', sans-serif;
    color: white;
}

.scrollbar-theme::-webkit-scrollbar-thumb {
    background-color: var(--scrollbar-thumb);
}

.scrollbar-theme::-webkit-scrollbar-track {
    background-color: var(--scrollbar-track);
}

.scrollbar-theme::-webkit-scrollbar{
    width: 8px;
    height: 8px;
}
